button {
    background-color: white;
    color: blue;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: blue;
    color: white;
  }
